header {
    background-color: rgb(140, 177, 199);
    border: 5px rgb(112, 129, 129) solid;
    margin-bottom: 20px;
}

header h1{
    text-align: center;
}

form {
    padding:30px 0px;
    background-color: cornflowerblue;
}
form  lable{
    display:block;
    text-decoration:underline;
    font-weight:bold;
    font-size: 20px;
    margin:10px 0;
}

form input{
    margin-left: 100px;
}

button {
    color:darkgreen;
    font-size: 30px;
    padding: 10px 50px;
}

#results {
    border:black solid 5px;
    height:325px;
    width:400px;
    background-color:rgb(118, 209, 197);
    font-size: 20px;
    padding: 10px 50px;
    overflow-y:auto
}